body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

#header {
    width: 100%;
    height: 100px;
    background: blue; 
    position: relative;
    margin-left: px;
}

h1 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; 
}

li {
    font-size: 25px; /* Уменьшил размер шрифта, чтобы элементы помещались лучше */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    list-style-type: none;
    margin-bottom: 10px; /* Добавил отступ между элементами списка */
    
    top: 40%;
    position: relative;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: 80px;
    background-color: #f0f0f0;
    position: absolute;
    top: 50%; /* Переместил кнопку вниз */
    left: 50%;
    transform: translateX(-50%);
}

.no-passwords {
    top: 40%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;

}