{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Password</title>
    <link rel="stylesheet" href="{% static 'add_password.css' %}">
</head>
<body>
    <div class="container">
        <h1>Добавление нового пароля</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_website">Название сайта:</label>
                {{ form.website }}
            </div>
            <div class="form-group">
                <label for="id_password">Пароль:</label>
                {{ form.password }}
            </div>
            <button type="submit">Сохранить пароль</button>
        </form>
    </div>
</body>
</html>
