{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password List</title>
    <link rel="stylesheet" href="{% static 'password_list.css' %}">
</head>
<body>
    <div id="header"></div>

    <h1>Список ваших паролей</h1>
    <ul>
        {% for password in passwords %}
        <li>{{ password.website }} - {{ password.password }}</li>
        {% empty %}
        <!-- Показывать текст только в случае отсутствия паролей -->
        <li class="no-passwords">Сейчас у вас нет сохраненных паролей</li>
        {% endfor %}
        {% csrf_token %}
    </ul>

    <a href="{% url 'add_password' %}">+</a>
</body>
</html>
